-------          CertainCity 2 Calgary.sql ------------
----------------------------------------------------------------------------------------------------------------------------
-- 使用说明 将指定这天的这个城市的记录分配到当天的  Calgary
-- DECLARE @end int = 15;                                要改，压缩掉 多少条记录
-- DECLARE @D DATE = '2017-10-14' ;                      要改， 压缩掉 那天的条记录
-- DECLARE @willchangeCity NVARCHAR(100)  = N'Montréal'  要将那个城市的记录压缩掉
----------------------------------------------------------------------------------------------------------------------------

------------------------------------
-- Canada Calgary City
------------------------------------
SET QUOTED_IDENTIFIER OFF;
DECLARE @end int = 13;
DECLARE @D DATE = '2018-02-28' ;
DECLARE @willchangeCity NVARCHAR(100)  = N'Beauharnois'






----------------------------------------------------------------------------------------------------------------------------
-- 下面是程序
----------------------------------------------------------------------------------------------------------------------------
Declare @loop int = 1;
while @loop <=@end
BEGIN  -- While Start here
--SET @D = CAST(ISNULL(@D, GETDATE()) as date);
if object_id('tempdb..#SAMPLE') is not null
    drop table #SAMPLE;

CREATE TABLE #SAMPLE 
(
ID INT IDENTITY(1,1) NOT NULL,  
country nvarchar (2),
region nvarchar (2),
city nvarchar (20),
thip nvarchar (20),
host nvarchar (20) ,
lat numeric (18,10),
long numeric (18,10),
uagency nvarchar (500)  
)

DECLARE @UA NVARCHAR(500) 
------------------
-- Calgary
------------------
DECLARE  @M   NVARCHAR(20) = N'Calgary'
DECLARE  @R NVARCHAR(2) =N'AB'
DECLARE  @C NVARCHAR(2) =N'CA'
DECLARE @lat numeric (18,10) = 51.07080000
DECLARE @long numeric (18,10) = -113.69310000
DECLARE  @Mip NVARCHAR(20) = '205.233.68.249'
SET @UA  =N'Mozilla/5.0 (iPad; CPU OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13G36 Safari/601.1'
insert into #SAMPLE Values (@C,@R,@M,  @mIP, @Mip,@lat,	@long, @UA)
insert into #SAMPLE Values (@C,@R,@M,  @mIP, @Mip,@lat,	@long, @UA)
insert into #SAMPLE Values (@C,@R,@M,  @mIP, @Mip,@lat,	@long, @UA)
SET @lat  = 51.13870000
SET @long  = -114.20150000
set @Mip = '108.181.149.7'
SET @UA  =N'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.1.2 Safari/603.3.8'

SET @lat  = 51.12640000
SET @long  = -114.14190000
set @Mip = '199.166.189.255'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.3; WOW64; rv:55.0) Gecko/20100101 Firefox/55.0'






------------------
-- Calgary
------------------
SET  @M    = N'Calgary'
SET  @R   =N'AB'
SET  @C    =N'CA'
SET  @lat    = 51.02720000
SET  @long   = -114.03490000
SET  @Mip   = '69.10.129.2'
SET @UA  =N'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:48.0) Gecko/20100101 Firefox/48.0'
SET @lat  = 51.13300000
SET @long  = -113.85600000
set @Mip = '205.206.196.255'
SET @UA  =N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1'
SET @lat  = 51.04970000
SET @long  = -114.13940000
set @Mip = '172.103.181.192'
SET @UA  =N'Mozilla/5.0 (Linux; Android 5.0.1; 10DTB12A Build/LRX22C) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.125 Safari/537.36'


 




------------------
-- Calgary
------------------
SET  @M    = N'Calgary'
SET  @R   =N'AB'
SET  @C    =N'CA'
SET  @lat    = 51.06210000
SET  @long   = -114.11590000
SET  @Mip   = '133.131.150.164'
SET @UA  =N'Mozilla/5.0 (Linux; Android 5.0; SM-N900W8 Build/LRX21V) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.125 Mobile Safari/537.36'
SET  @lat    = 50.98700000
SET  @long   = -113.96340000
set @Mip = '76.10.186.248'
SET @UA  =N'Mozilla/5.0 (Linux; Android 5.1.1; SM-G530W Build/LMY47X) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/3.3 Chrome/38.0.2125.102 Mobile Safari/537.36'
SET  @lat    = 50.98940000
SET  @long   = -114.05200000
set @Mip = '199.192.105.159'







---- Create the variables for the random number generation
DECLARE @Random INT;
DECLARE @Upper INT;
DECLARE @Lower INT;

SET @Lower = 1 ---- The lowest random number
-- create random sample data
declare @sampleCount int 
select @sampleCount = Count(*) from #SAMPLE
select @Upper =  count (*) from #SAMPLE  
SELECT @Random = ROUND(((@Upper - @Lower -1) * RAND() + @Lower), 0)

 
declare @country nvarchar (2);
declare @region nvarchar (2);
declare @city nvarchar (20);
declare @thip nvarchar (20);
declare @host nvarchar (20) ;
declare @lat1 numeric (18,10);
declare @long1 numeric (18,10);
declare @uagency nvarchar (500) ;

select  @country  = country   from #sample   where id = @random 
select  @region   = region 	  from #sample   where id = @random
select  @city  	  = city  	  from #sample   where id = @random
select  @thip 	  = thip 	  from #sample   where id = @random
select  @host  	  = host  	  from #sample   where id = @random
select  @lat1  	  = lat  	  from #sample   where id = @random
select  @long1    = long  	  from #sample   where id = @random
select  @uagency  = uagency	  from #sample   where id = @random


-- work on APILOG table
select @Upper =  count (apilogid) from apilog where cscity = @willchangeCity and aclName='KHP'  and logdate = @d
SELECT @Random = ROUND(((@Upper - @Lower -1) * RAND() + @Lower), 0)
 

 declare @myIP1 int
 

 
 select top (1) @myIP1 = apilogid from 
(select top (@Random ) apilogid from apilog  where  cscity = @willchangeCity and aclName='KHP'   and logdate = @d   order by apilogid) a
order by apilogid desc
 

 update apilog set 
  cscountry = @country ,
  csregion =  @region  ,
  cscity = @city  	 ,
  csip = @thip 	, 
  cshost = @host  ,	 
  latitude = @lat1  	, 
  longitude = @long1  ,	 
  csuseragent = @uagency 
 where apilogid = @myIP1;

SELECT        apilogid, logdate, logtime, cscontent, csendpoint,  cscountry, csregion, cscity, csurl
FROM            apilog
WHERE        (apilogid = @myIP1)



 
select @loop = @loop +1;
END     -- while loop end here
SET QUOTED_IDENTIFIER ON;